.main__detailsPages {
  padding: 24px;
  min-height: calc(100vh - 153px);
}
.main__imgContainer {
  margin-bottom: 20px;
  width: 100%;
}
.main__detailsContainer {
  width: 100%;
}

.main__detailsTitle {
  margin-bottom: 20px;
}
.main__detailsTable {
  width: 100%;
  margin-bottom: 36px;
}
.main__detailsTextRow {
  width: 100%;
  font-weight: 300;
  line-height: 2rem;
}
.main__detailsTextCell {
  padding-left: 14px;
  width: 124px;
}
.main__detailsTextRow:nth-child(odd) {
  background-color: #addad6;
}
.main__detailsAbout {
  margin-bottom: 20px;
}
.main__detailsAboutText {
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 18px;
}
.main__addList {
  text-align: center;
}
.main___addButton {
  width: 180px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: inherit;
  padding: 8px;
  border: 2px solid #77c1bb;
  margin-bottom: 6px;
}

.icon {
  width: 24px;
  height: 18px;
  fill: #77c1bb;
  margin-right: 6px;
}

@include screen('tablet') {
  .main__detailsContainer {
    display: flex;
    justify-content: center;
  }
  .main__imgContainer {
    margin-right: 24px;
    width: 358px;
  }
  .main__textContainer {
    width: 350px;
  }

  .main__detailsTitle {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto';
    color: rgb(55, 44, 72);
    line-height: 1.2;
  }
  .main__detailsTextCell {
    width: 134px;
  }
  .main__detailsAbout {
    font-size: 20px;
    font-family: 'Roboto';
    color: rgb(55, 44, 72);
    line-height: 1.2;
  }
  .main__detailsAboutText {
    margin-bottom: 34px;
    font-size: 14px;
    font-family: 'Roboto';
    color: rgba(55, 44, 72, 0.541);
    line-height: 1.214;
  }
  .main__addList {
    display: flex;
  }

  .main___addButton {
    margin-right: 2px;
    border: none;
  }
  .main___addButton:hover {
    cursor: pointer;
    border: 2px solid #77c1bb;
    box-shadow: 0 0px 6px 1px #77c1bb;
  }
}
@include screen('desktop') {
  .main__detailsPages {
    padding: 26px 44px 30px 66px;
  }

  .main__detailsContainer {
    width: 100%;
  }
  .main__imgContainer {
    width: 430px;
  }
  .main__textContainer {
    width: 450px;
  }
}
