.movie-list {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.movie-list__item {
  flex-basis: 100%;
  position: relative;
}

// .movie-list__link {
// }

.movie-list__link:hover::after {
  opacity: 0;
}

.movie-list__link:hover .movie-list__text {
  opacity: 0;
}

.movie-list__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(to top, #000, transparent);
  opacity: 0.7;
  border-radius: 10px;
  transition: opacity 0.4s ease;
}

.movie-list__image {
  margin: 0 auto;
  border-radius: 10px;
}

.movie-list__text {
  font-weight: 500;
  line-height: 14.99px;
  font-size: 12.49px;
  transition: all 0.4s ease;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  z-index: 10;
}

@include screen('mobile') {
  .movie-list__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@include screen('tablet') {
  .movie-list__item {
    flex-basis: 49%;
    justify-content: space-between;
  }

  .movie-list__text {
    font-size: 14.5px;
    line-height: 17.4px;
  }

  .movie-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@include screen('desktop') {
  .movie-list__text {
    font-size: 19.5px;
    line-height: 23.42px;
  }
  .movie-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

.homePage {
  padding-bottom: 24px;
}

// уточнить и удалить или оставить

// .homePage__list {
//   list-style: none;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-bottom: 18px;
// }

.homePage__items {
  width: 298px;
  height: 156px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.homePage__img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
}

.homePage__text {
  position: absolute;
  left: 12px;
  bottom: 8px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

#homePage__search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 68px;
  margin: 0 0 14px;
  background-color: #f3f6f6;
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.23);
}

#homePage__search-input {
  width: 258px;
  padding-left: 28px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.23);
  font-size: 14px;
  line-height: 26px;
  font-family: 'Roboto';
  background-color: #f3f6f6;
  background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA+VBMVEU3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEgAAAAFS6E0AAAAUXRSTlMAEV+RkF0QCojn+IYJG8/98s0YBs6qHR6tyw1q/ra4Y1va9isxx/zz5X70BNw5t/qrAjXgL+HrIIU4f+IF9/n1it8igK+uoDCh3Z/YPaWjFzvb7PJhAAAAAWJLR0RSDWAtkAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+MHBgscM569k+oAAACzSURBVBjTY2AAAkYmZhZWNgYEYOfg5OLi5OaBC/Dy8QsICgrwCwpBBYRFAkXFGBjEJQIlhcECUtIyshApORl5MK2gqKQMEVHhUgXTHGrqMAOVNMCUppa6NtRAJR0wraunzwQRkVczANOGRjLGJmBjTM3ModotAk01LS2trANlbWAO0rS1s7W1s3fQcjSBWeLk7OKqycvgFmjszoAKPAI9VdCEvAK9fVBFtH0D/dAU+XMHAAC2xROU1oQiHQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px 18px;
}

#homePage__search-input::before {
  content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA+VBMVEU3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEg3LEgAAAAFS6E0AAAAUXRSTlMAEV+RkF0QCojn+IYJG8/98s0YBs6qHR6tyw1q/ra4Y1va9isxx/zz5X70BNw5t/qrAjXgL+HrIIU4f+IF9/n1it8igK+uoDCh3Z/YPaWjFzvb7PJhAAAAAWJLR0RSDWAtkAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+MHBgscM569k+oAAACzSURBVBjTY2AAAkYmZhZWNgYEYOfg5OLi5OaBC/Dy8QsICgrwCwpBBYRFAkXFGBjEJQIlhcECUtIyshApORl5MK2gqKQMEVHhUgXTHGrqMAOVNMCUppa6NtRAJR0wraunzwQRkVczANOGRjLGJmBjTM3ModotAk01LS2trANlbWAO0rS1s7W1s3fQcjSBWeLk7OKqycvgFmjszoAKPAI9VdCEvAK9fVBFtH0D/dAU+XMHAAC2xROU1oQiHQAAAABJRU5ErkJggg==');
}

#homePage__search-input::placeholder {
  color: #000;
}

#homePage__search-error-message {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

//BUTTONS

#homePage__pagination {
  margin: 0 auto;
  width: 320px;
  display: flex;
  justify-content: space-evenly;
}

.homePage__pagination-elem {
  padding: 16px 24px;
  background-color: white;
  background-image: linear-gradient(to top, #f0f0f0 0%, transparent 100%);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px white;
  /* Text style for "Prev" */
  text-shadow: 0 1px 1px white;
  color: #556270;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .homePage {
    padding-bottom: 20px;
  }

  .homePage__list {
    width: 768px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .homePage__items {
    width: 348px;
    height: 182px;
    margin: 0 0 16px 22px;
  }

  .homePage__text {
    left: 12px;
  }

  #homePage__search {
    margin: 0 0 30px;
  }

  #homePage__search-input {
    width: 284px;
    font-size: 16px;
    line-height: 22px;
  }

  .homePage__pagination-elem {
    padding: 16px 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
  }
}
@media (min-width: 1024px) {
  .homePage {
    padding-bottom: 12px;
  }

  .homePage__list {
    margin: 0 auto;
    width: 1024px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .homePage__items {
    width: 468px;
    height: 244px;
    margin-bottom: 20px;
  }

  .homePage__text {
    font-size: 18px;
    left: 18px;
    bottom: 12px;
  }

  #homePage__search {
    margin: 0 0 30px;
  }

  #homePage__search-input {
    width: 286px;
    font-size: 16px;
  }

  .homePage__pagination-elem {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }
}

.hidden {
  visibility: hidden;
}
